@page "/"
@inject GreetService.Greeter.GreeterClient Client

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="SayHello">Say Hello</button>

@code {
    private async void SayHello()
    {
        await Client.SayHelloAsync(new GreetService.HelloRequest() { Name = "Hello" });
    }
}